name: Android E2E Tests

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  e2e-tests:
    name: Run Android E2E Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3.2.1'

      - name: Build the app
        run: ./gradlew assembleDebug

      # Run E2E tests
      - name: Run E2E tests
        run: ./gradlew connectedAndroidTest
        working-directory: test/e2e
