name: Sossoldi Flutter CI

on:
  schedule:
    - cron: "0 0 * * 1"
  pull_request:
    branches: [ main ]

jobs:
  build-android-apk:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Flutter action
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.5'
          channel: stable
          cache: true
          cache-key: flutter
          cache-path: ${{ runner.tool_cache }}/flutter

      - run: |
          flutter upgrade
          flutter pub get
          flutter test
          flutter build apk
          flutter build appbundle
